@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,600,700,900&display=swap');

.font-roboto-regular {
	font-family: 'Roboto' !important;
	font-weight: 400 !important;
}
.font-roboto-bold {
	font-family: 'Roboto' !important;
	font-weight: 700 !important;
}
.font-roboto-semibold {
	font-family: 'Roboto' !important;
	font-weight: 600 !important;
}
.font-roboto-italic {
	font-family: 'Roboto' !important;
	font-weight: 400 !important;
	font-style: italic;
}
.font-roboto-black {
	font-family: 'Roboto' !important;
	font-weight: 900 !important;
}
.font-roboto-light {
	font-family: 'Roboto' !important;
	font-weight: 300 !important;
}
