// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Fonts
@import "fonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Utilities
@import "utilities";


/* menu hamburger css */
#menu-hamburger {
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: display 0.5s ease-in-out;
    -moz-transition: display 0.5s ease-in-out;
    -o-transition: display 0.5s ease-in-out;
    transition: display 0.5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: $primary;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
    span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
    }
    span:nth-child(odd) {
        left: 0px;
        border-radius: 9px 0 0 9px;
    }
    span:nth-child(1),
    span:nth-child(2) {
        top: 30%;
    }
    span:nth-child(3),
    span:nth-child(4) {
        top: 48%;
    }
    span:nth-child(5),
    span:nth-child(6) {
        top: 70%;
    }
    &[aria-expanded="true"] {
        span:nth-child(1),
        span:nth-child(6) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        span:nth-child(2),
        span:nth-child(5) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        span:nth-child(1) {
            left: 2px;
            top: 32%;
        }
        span:nth-child(2) {
            left: calc(50% - 3px);
            top: 32%;
        }
        span:nth-child(3) {
            left: -50%;
            opacity: 0;
        }
        span:nth-child(4) {
            left: 100%;
            opacity: 0;
        }
        span:nth-child(5) {
            left: 2px;
            top: 68%;
        }
        span:nth-child(6) {
            left: calc(50% - 3px);
            top: 68%;
        }
    }
}