@media only screen and (min-width: 768px) {
	@each $size, $length in $sizes {
		.w-md-#{$size} {
			width: $length !important;
		}
		.h-md-#{$size} {
			height: $length !important;
		}
	}
	@each $size, $value in $font-sizes {
		.fz-md-#{$size} {
			font-size: $value !important;
		}
	}
	.border-md-0 {
		border: 0 !important;
	}
	.border-md-1 {
		border: 1px solid !important;
	}
	.bg-md-gray  {
		background: $gray-light;
	}
	.md-shadow-sm {
		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	}
	.h-md-screen {
		min-height: 100vh !important;
	}
}
